.git
.gitignore
.dockerignore
**/__pycache__
**/*.py[cod]
*$py.class
*.so
.Python
.env
.env.*
!.env.example
!.env.docker.example
marsenv
venv
.venv
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache
*.md
.DS_Store
docker-compose.yml
mosquitto/
